body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  border-style: none none solid none;
  border-color: #000;
  border-width: 2px;
}

h3 {
  border-style: none none solid none;
  border-color: #000;
  border-width: 2px;
}

img {
  display: block;
  max-width: 97vw;
  margin: 4px auto;
  padding-top: 16px;
}

.green {
  color: #0a0;
}

#main {
  background: #fff;
  /*width: 1000px;*/
  margin: 4px auto;
}

.step-block {
  display: block;
  border-style: solid none none none;
  border-color: #000;
  border-width: 2px;
}

.step {
  display: inline-block;
  /*height: 100px;*/
  padding: 8px;
  text-align: center;
  font-size: 12px;
}

#wrap {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.left {
  float: left;
  width: 50vw;
  min-height: 400px;
  background: #eef;
}

.left div {
  padding: 8px;
}

.right {
  float: right;
  width: 50vw;
  min-height: 400px;
  background-color: #efe;
}

.right div {
  padding: 8px;
}
